* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
	height: 70px;
	width: 100%;

	box-shadow: 0px 2.98256px 7.4564px
		rgba(0, 0, 0, 0.1);
	padding: 10px 10px;
}

nav > img {
	position: absolute;
	width: 82.02px;
	height: 25.35px;
	left: 30px;
	top: 22px;
	cursor: pointer;
	max-width: 100px;
}

section {
	padding: 20px;
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-section img {
	max-width: 800px;
	align-self: center;
	width: 90%;
}

.hero-section > h2 {
	font-weight: 800;
}
.hero-section > p {
	font-weight: 400;
}

.bold {
	font-weight: 800;
}
.gray {
	color: gray;
}

.cards-list {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	overflow-x: auto;
}
.card {
	width: 175px;
	font-size: 12px;
	flex: 0 0 auto; /* ADD */
	display: flex; /* ADD */
	flex-direction: column; /* ADD */
	position: relative;
}
.icon {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: white;
	padding: 2px;
	font-size: 0.5rem;
	border-radius: 2px;
}
.card--image {
	width: 100%;
	border-radius: 9px;
}

.card--stats {
	display: flex;
	align-items: center;
}
.card--star {
	height: 14px;
}

@media screen and (min-width: 576px) {
	.modifier {
		flex-direction: row;
		margin: 0 auto;
		justify-content: space-between;
		max-width: 880px;
	}

	.modifier img {
		margin-right: 15px;
	}
	.card {
		margin: 0 auto;
	}
	.cards-list {
		max-width: 880px;
		margin: auto;
	}
}
