* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}
nav {
	/* height: 70px; */
	width: 100%;
	color: white;
	background: linear-gradient(
		90deg,
		#672280 1.18%,
		#a626d3 100%
	);
	padding: 15px 20px;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 600;
	justify-content: space-between;
}
nav img {
	height: 100%;

	margin-right: 6px;
}

nav p {
	margin-right: auto;
}

.form {
	width: 50vw;
	margin: 20px auto;
}
input {
	height: 35px;
}
input:first-child {
	margin-right: 10%;
}
input[type="text"] {
	width: 45%;
}
button[type="submit"] {
	width: 100%;
	padding: 10px 0;
	color: white;
	margin-top: 20px;
	border: none;
	outline: none;
	background: linear-gradient(
		90deg,
		#672280 1.18%,
		#a626d3 100%
	);
}

/* .form img {
	max-width: 100%;
	margin-top: 20px;
} */

.meme {
	position: relative;
	width: 100%;
}

.meme--image {
	max-width: 100%;
	border-radius: 3px;
	display: flex;
	margin: 0 auto;
	margin-top: 20px;
}

.meme--text {
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000,
		2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000,
		2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
		2px 2px 5px #000;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}
