* {
	box-sizing: border-box;
	margin: 0;
}

body {
	color: white;
}
nav {
	background-color: #21222a;
	color: #61dafb;
	padding: 10px 10px;
}

nav > h4 {
	color: white;
	margin-left: 10px;
}
nav > div {
	display: flex;
}
.section {
	background: #282d35;
	height: 100vh;
	padding: 20px 15px;
	text-align: justify;
	/* background-image: url("./logo.svg");
	background-repeat: no-repeat;
	background-position: 100% 25%; */
}
.section li {
	padding-block: 10px;
}
li::marker {
	color: #61dafb;
	font-size: 1.4rem;
}
@media screen and (min-width: 476px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
